.jumbotron {
    background-image: url("./images/10-11-6k.jpg");
    background-size: cover;
}

.proj_1 {
    background-image: url("./images/thumbnail1.png");
    background-size: cover;
}
.bg {
    
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/brain_cs.png");
    background-size: cover;
}

.bg2 {
    background-image: url("./images/green_cs.png");
    background-size: cover;
}

.f-display-5 {
    font-size:6rem;
}

.m-plus{
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  