.jumbotron {
    background-image: url("./images/10-11-6k.jpg");
    background-size: cover;
}

.proj_1 {
    background-image: url("./images/thumbnail1.png");
    background-size: cover;
}

.proj_3 {
    background-image: url("./images/colored_aligned.png");
    background-size: cover;
}
.bg {
    
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/brain_cs.png");
    background-size: cover;
}

.bg2 {
    background-image: url("./images/green_cs.png");
    background-size: cover;
}

.bg3 {
    background-image: url("./images/Untitled\ design.png");
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
}

.bg_text {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff; /* Text color */
}

.bg_blue {
    
    background-color: #76BBEF;
    max-width: 100%;
}


.f-display-5 {
    font-size:6rem;
}

.m-plus{
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  